{% extends 'base.html' %}

{% block content %}

<div class="card rounded-0">
  <div class="card-header">
    <h2>Who we are</h2>
  </div>

  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci exercitationem, necessitatibus accusamus
    reiciendis in, dicta ducimus deserunt maiores, voluptatum nam harum facere ratione impedit odio eaque. Sed dicta
    assumenda totam!
  </div>

</div>

<div class="section my-4 container bg-dark bg-gradient text-light py-4">
  <h2>Our Mission</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi obcaecati eius consectetur voluptatem alias eos
    id quia minus. Temporibus possimus architecto praesentium ad ipsa assumenda quidem adipisci ratione enim magnam!</p>
  <!-- Grid -->

  <div class="row">
    <div class="col mb-2">
      <div class="card text-dark rounded-0" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">People First</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis reprehenderit est
            fuga, numquam laboriosam dicta iure modi! Impedit vitae aliquam veritatis eius iusto minus in, consectetur
            dolor temporibus nihil fugit!</p>

        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card text-dark rounded-0" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Diverse Culture</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolore nam dignissimos
            accusantium hic totam cumque, ullam reiciendis facilis officia, expedita corrupti. Id molestias minima
            aspernatur! Enim voluptate repellendus libero?</p>

        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card text-dark rounded-0" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">One Voice</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut repellendus
            quasi est esse inventore, corporis molestiae. Tempora sit quos reiciendis inventore, neque repellat? Nobis
            debitis sunt expedita quo impedit.</p>

        </div>
      </div>
    </div>


  </div>
</div>



{% endblock %}